.popup__field-occupation {
  font-size: 14px;
  line-height: 17px;
  max-width: 358px;
  min-height: 27px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0px 36px;
}
