.profile__edit-button {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  width: 24px;
  height: 24px;
  display: flex;
  transition: opacity 0.3s ease-in-out;
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: center;
  background: #000000 url(../../../images/logo/edit-button.svg) center no-repeat;
  font-size: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
