.popup__submit-button {
  max-width: 358px;
  width: 100%;
  min-height: 50px;
  background: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 0 18px;
  margin: 0px 36px 37px 36px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.element__like:hover {
  opacity: 0.5;
}
