.element__like {
  transition: opacity 1s linear;
  margin-right: 20px;
  width: 22px;
  height: 19px;
  background: url("../../../../images/logo/Vector.svg") center no-repeat;
  font-size: 0;
  border: none;
  cursor: pointer;
}
.element__like:hover {
  opacity: 0.5;
}
