.profile {
  display: grid;
  grid-template-areas:
  "avatar"
  "data"
  "add-button";
  align-items: center;
  max-width: 880px;
  margin: 36px auto 36px;
  padding: 0;
}

@media screen and (min-width: 1025px) {
  .profile {
    grid-template-areas: "avatar data add-button";
    grid-template-columns: 120px 336px auto;
    margin: 40px auto 51px;
    gap: 30px;
  }
}
