.popup__close {
  padding: 0;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: -36px;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url(../../../images/popup__button-close.svg) no-repeat;
  background-position: center;
  background-size: 20px 20px;
  background-color: transparent;
  transition: opacity 0.3s ease-in-out;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (min-width: 600px) {
  .popup__close {
    background-size: 32px 32px;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
  }
}
