.cards__caption {
  display: grid;
  grid-template-areas:
    "pic-name like-button"
    "pic-name like-count";
  grid-template-columns: 224px 22px;
  max-width: 246px;
  padding: 0;
 margin-top: 25px;
 margin-bottom: 31px;
 margin-left: 21px;
 margin-right: 15px;
}
