.profile__avatar {
  grid-area: avatar;
  border-radius: 50%;
  margin: 42px auto 26px auto;
  width: 120px;
  height: 120px;
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  transition: 0.5 ease;
  cursor: pointer;
  background-image: url(../../../images/avatar.svg);
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__avatar::after {
  background-image: url(../../../images/pen-change-avatar.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  content: "";
  z-index: 3;
  background-position: center;
  background-color: rgb (0, 0, 0, 0);
  transition: all 0.4s ease;
}

.profile__avatar:hover::after {
  opacity: 1;
  background-color: rgb(0, 0, 0, 0.8);
}

@media screen and (min-width: 1025px) {
  .profile__avatar {
    margin: 0;
  }
}
